@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

/* --------------------------------- Variables --------------------------------- */

:root {
  /* :root y html son dos selectores que seleccionan el elemento raíz del documento */
  /* :root lo utilizo para declarar las variables */
  /* html lo utilizo para hacer normalizaciones */

  /* Palette */

  --color-primario: #ff3333;
  --color-primario-90: rgba(255, 51, 51, 0.9);
  --color-primario-50: rgba(255, 51, 51, 0.5);
  --color-primario-30: rgba(255, 51, 51, 0.3);

  --color-secundario: #1d84b5;
  --color-secundario-90: rgba(29, 132, 181, 0.9);
  --color-secundario-50: rgba(29, 132, 181, 0.5);
  --color-secundario-30: rgba(29, 132, 181, 0.3);

  --color-oscuro: #1f1f1f;
  --color-oscuro-90: rgba(31, 31, 31, 0.9);
  --color-oscuro-50: rgba(31, 31, 31, 0.5);
  --color-oscuro-30: rgba(31, 31, 31, 0.3);

  --background-oscuro: #30343f;
  --background-claro: #fafaff;

  --color-fuente-claro: #ffffff;
  --color_fuente-gris: #333333;
  --color_fuente_oscuro: #111111;

  /* Typography */

  --fuente-base: "Inter", sans-serif;
  --fuente-alternativa: "Raleway", sans-serif;

  /* Size */

  --display-size-46px: 4.6em;
  --jumbo-size-38px: 3.8em;
  --xlarge-size-30px: 3em;
  --large-size-24px: 2.4em;
  --medium-size-20px: 2em;
  --medium-size-18px: 1.8em;
  --small-size-16px: 1.6em;
  --xsmall-size-14px: 1.4em;
  --xxsmall-size-12px: 1.2em;

  /* Spacing */

  --spacing-128: 12.8rem;
  --spacing-68: 6.8rem;
  --spacing-48: 4.8rem;
  --spacing-36: 3.6rem;
  --spacing-28: 2.8rem;
  --spacing-24: 2.4rem;
  --spacing-20: 2rem;
  --spacing-16: 1.6rem;
  --spacing-14: 1.4rem;
  --spacing-12: 1.2rem;
  --spacing-8: 0.8rem;
}

/* --------------------------------- Normalizaciones --------------------------------- */

/* "Reseteamos" los estilos por defecto que traen los navegadores */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajusta el contenido al tamaño del borde y no el borde al tamaño del contenido (content-box) */
}

html {
  font-size: 62.5%;
  /* La fuente del navegador por defecto mide 16px. */
  /* Con esta normalización logramos que mida 10px */
  /* Esto permite que sea mucho más facil trabajar con medidas relativas */
  font-family: var(--fuente-base);
  color: var(--color_fuente_oscuro);
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

p {
  font-size: var(--medium-size-18px);
}

ul,
ol {
  list-style-type: none; /* Elimina el icono o número que agregan las listas */
}

header,
footer {
  font-family: var(--fuente-alternativa);
  color: var(--color-fuente-claro);
}

img {
  max-width: 100%; /* Configuramos que las imagenes se adapten al ancho del contenedor */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* --------------------------------- HEADER --------------------------------- */

header {
  background-color: var(--background-oscuro);
  padding: var(--spacing-36) var(--spacing-14);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__link {
  display: inline-block;
  font-size: var(--medium-size-20px);
  padding: var(--spacing-8) var(--spacing-16);
  transition: 0.15s ease-in;
}

.navbar__link:hover {
  background-color: var(--color-primario);
  transform: scale(1.05, 1.05);
}

.navbar__desplegable {
  position: relative;
}

.navbar__subitem {
  display: none;
}

.navbar__desplegable:hover .navbar__subitem {
  display: block;
}

.navbar__submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: var(--background-oscuro);
}

.navbar__sublink {
  display: block;
  font-size: var(--small-size-16px);
  padding: var(--spacing-8);
  transition: 0.15s ease-in;
}

.navbar__sublink:hover {
  background-color: var(--color-primario);
  transform: scale(1.02, 1.02);
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  background-color: var(--background-oscuro);
  padding: var(--spacing-68) var(--spacing-14);
  padding-bottom: var(--spacing-8);
}

.navbar__footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.copyright {
  text-align: center;
  padding-top: var(--spacing-68);
}

/* --------------------------------- BANNER --------------------------------- */

.banner {
  background-image: url("../img/funkos-banner\ 1.svg");
  background-size: cover;
  padding: var(--spacing-128) var(--spacing-14);
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.banner__title {
  font-family: var(--fuente-alternativa);
  font-size: var(--jumbo-size-38px);
  color: var(--color-fuente-claro);
  padding-bottom: var(--spacing-12);
}

.banner__text {
  font-family: var(--fuente-alternativa);
  color: var(--color-fuente-claro);
  padding-bottom: var(--spacing-36);
}

.banner__link {
  display: inline-block;
  background-color: var(--background-claro);
  color: var(--color_fuente_oscuro);
  border-radius: 5em;
  padding: var(--spacing-12) var(--spacing-68);
  font-size: var(--medium-size-20px);
  font-weight: 500;
  transition: 0.2s ease-in;
}

.banner__link:hover {
  background-color: var(--color-primario);
  transform: scale(1.08, 1.08);
}

/* --------------------------------- COLECCIONES --------------------------------- */

main {
  padding-left: var(--spacing-14);
  padding-right: var(--spacing-14);
}

.colecciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.colecciones:nth-child(2) .colecciones__img {
  order: -1;
}

.colecciones__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-8);
}

.colecciones__title {
  font-family: var(--fuente-alternativa);
  font-size: var(--display-size-46px);
  font-weight: 500;
  text-transform: uppercase;
}

.colecciones__text {
  font-family: var(--fuente-alternativa);
  font-size: var(--large-size-24px);
  font-weight: 400;
  color: var(--color_fuente-gris);
}

.colecciones__line {
  align-self: stretch;
  border-bottom: solid;
  border-color: var(--color-primario-90);
  margin: var(--spacing-16) 0 var(--spacing-24);
}

.colecciones__link {
  display: inline-block;
  background-color: var(--background-oscuro);
  border-radius: 2em;
  padding: var(--spacing-20) var(--spacing-48);
  font-size: var(--large-size-24px);
  font-weight: 500;
  color: var(--color-fuente-claro);
  transition: 0.18s ease-in;
}

.colecciones__link:hover {
  background-color: var(--color-primario);
  transform: scale(1.08, 1.08);
}

/* --------------------------------- NOVEDADES --------------------------------- */

.novedades {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-36);
  padding-bottom: var(--spacing-12);
}

.novedades__title {
  font-family: var(--fuente-alternativa);
  font-size: var(--display-size-46px);
}

.novedades__list {
  display: flex;
  gap: var(--spacing-24);
}

/* --------------------------------- CARD-ITEM --------------------------------- */

.card-item {
  transition: 0.2s ease-in-out;
}

.card-item:hover {
  box-shadow: 0 0 0.4em 0.2em rgba(0, 0, 0, 0.5);
}

.card-item__img {
  display: flex;
  position: relative;
}

.card-item__img img {
  animation: fade 0.6s;
}

.card-item__img--back {
  display: none;
}

.card-item__img:hover .card-item__img--front {
  display: none;
}

.card-item__img:hover .card-item__img--back {
  display: block;
}

.card-item__tag {
  background-color: var(--color-primario);
  color: var(--color-fuente-claro);
  font-size: var(--xsmall-size-14px);
  font-weight: 500;
  padding: var(--spacing-8) var(--spacing-24);
  position: absolute;
  right: 0;
}

.card-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  padding: var(--spacing-16);
}

.card-item__license {
  font-size: var(--xsmall-size-14px);
  font-weight: 500;
  color: var(--color_fuente-gris);
}

.card-item__name {
  font-size: var(--medium-size-18px);
  font-weight: 700;
}

.card-item__price {
  font-size: var(--small-size-16px);
  font-weight: 400;
  color: var(--color_fuente-gris);
}

.card-item__offer {
  font-size: var(--xxsmall-size-12px);
  font-weight: 700;
  color: var(--color-secundario);
}

/* --------------------------------- ANIMATIONS --------------------------------- */

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* FUTURO MEDIA QUERY */

/* header {
  background-color: var(--background-oscuro);
  padding: var(--spacing-36) var(--spacing-12);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: var(--spacing-20);
}

.navbar__link {
  display: inline-block;
  font-size: var(--medium-size-20px);
  padding: var(--spacing-8) var(--spacing-16);
  border-radius: 1em;
  transition: 0.18s ease-in;
}

.navbar__link:hover {
  background-color: var(--color-primario);
  transform: scale(1.18, 1.18);
} */

/* --------------------------------- FOOTER --------------------------------- */

/* footer {
  background-color: var(--background-oscuro);
  padding: var(--spacing-68) var(--spacing-12);
  padding-bottom: var(--spacing-8);
}

.navbar__footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.copyright {
  text-align: center;
  padding-top: var(--spacing-68);
} */

/* ------------------------------------------------------------------ CARRITO DE COMPRAS ------------------------------------------------------------------ */
